---
http_interactions:
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/auth/login
    body:
      encoding: UTF-8
      string: '{"userName":"<TEST_EMAIL>","password":"<TEST_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - 310bbc22574148359881b57fe18858a5
      Last-Modified:
      - Mon, 13 Jan 2020 16:36:12 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"token":"HFDaQkBphhE0tKEM7Kn6P2SGC0jY15yTo9nDfmnZCcurfeb7acHajMt52xkqOr9l6","expires":"2020-01-14T16:36:14+0000"}'
  recorded_at: Mon, 13 Jan 2020 16:36:14 GMT
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/clients?token=HFDaQkBphhE0tKEM7Kn6P2SGC0jY15yTo9nDfmnZCcurfeb7acHajMt52xkqOr9l6
    body:
      encoding: UTF-8
      string: '{"name":"Client Name","externalId":"GUID GOES HERE","note":"Notes go
        here"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: ''
    headers:
      Memsource-Action-Id:
      - e1b75a1175df4ddabe9d3d28e6d05e14
      Last-Modified:
      - Mon, 13 Jan 2020 16:36:14 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"netRateScheme":null,"createdBy":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"displayNoteInProject":false,"note":"Notes
        go here","id":"169790","priceList":null,"externalId":"GUID GOES HERE","name":"Client
        Name"}'
  recorded_at: Mon, 13 Jan 2020 16:36:15 GMT
recorded_with: VCR 5.0.0
