---
http_interactions:
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/auth/login
    body:
      encoding: UTF-8
      string: '{"userName":"<TEST_EMAIL>","password":"<TEST_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - 1059250c1c7340feb3826b9e3695ad55
      Last-Modified:
      - Fri, 10 Jan 2020 20:58:58 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"token":"KyNoLE9VxloMBui5TmY6yWVKCyo0duGnOB4UpDPRkmGOiM6vLRdW2BKCwPgKWz6x1","expires":"2020-01-10T22:33:30+0000"}'
  recorded_at: Fri, 10 Jan 2020 20:59:00 GMT
- request:
    method: get
    uri: https://cloud.memsource.com/web/api2/v1/projects?token=KyNoLE9VxloMBui5TmY6yWVKCyo0duGnOB4UpDPRkmGOiM6vLRdW2BKCwPgKWz6x1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - 5eb3758dfeef446aace2d69099645189
      Last-Modified:
      - Fri, 10 Jan 2020 20:59:00 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"pageNumber":0,"content":[{"internalId":5,"progress":{"overdueCount":0,"totalCount":0,"finishedCount":0},"dateCreated":"2020-01-10T20:58:57+0000","references":[],"id":"15812414","analyseSettings":{"id":"149840174"},"targetLangs":["es"],"financialSettings":{"id":"17114192"},"subDomain":null,"sourceLang":"en","businessUnit":null,"purchaseOrder":null,"dateDue":null,"name":"Test
        Project","owner":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"uid":"efXC08onhfTcpiFJYzE1qa","createdBy":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"client":null,"status":"NEW","note":null,"qualityAssuranceSettings":{"id":"17185625"},"costCenter":null,"domain":null,"isPublishedOnJobBoard":false,"shared":false,"userRole":"ADMIN","accessSettings":{"id":"16972823"},"workflowSteps":[],"mtSettingsPerLanguageList":null},{"internalId":4,"progress":{"overdueCount":0,"totalCount":0,"finishedCount":0},"dateCreated":"2020-01-10T20:58:48+0000","references":[],"id":"15812413","analyseSettings":{"id":"149840173"},"targetLangs":["es"],"financialSettings":{"id":"17114191"},"subDomain":null,"sourceLang":"en","businessUnit":null,"purchaseOrder":null,"dateDue":null,"name":"Test
        Project","owner":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"uid":"zzPvYqTxUypU2dHKrClfE0","createdBy":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"client":null,"status":"NEW","note":null,"qualityAssuranceSettings":{"id":"17185623"},"costCenter":null,"domain":null,"isPublishedOnJobBoard":false,"shared":false,"userRole":"ADMIN","accessSettings":{"id":"16972822"},"workflowSteps":[],"mtSettingsPerLanguageList":null}],"numberOfElements":2,"totalElements":2,"pageSize":50,"totalPages":1}'
  recorded_at: Fri, 10 Jan 2020 20:59:00 GMT
recorded_with: VCR 5.0.0
