---
http_interactions:
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/auth/login
    body:
      encoding: UTF-8
      string: '{"userName":"<TEST_EMAIL>","password":"<TEST_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - 312a693e8ff6405d9aa48ca7fb64e02a
      Last-Modified:
      - Fri, 10 Jan 2020 21:37:30 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"token":"9haM0QDEFRquhkpYNqgT4LaGNjhe3JqeIirFMF2BVTikIKVkMzhwQkfBcDOl5f351","expires":"2020-01-11T21:33:48+0000"}'
  recorded_at: Fri, 10 Jan 2020 21:37:31 GMT
- request:
    method: get
    uri: https://cloud.memsource.com/web/api2/v1/projects?token=9haM0QDEFRquhkpYNqgT4LaGNjhe3JqeIirFMF2BVTikIKVkMzhwQkfBcDOl5f351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - c2ebde0a052544bfa9fd0b3a7b37e90f
      Last-Modified:
      - Fri, 10 Jan 2020 21:37:32 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"pageNumber":0,"content":[{"internalId":5,"progress":{"overdueCount":0,"totalCount":1,"finishedCount":0},"dateCreated":"2020-01-10T20:58:57+0000","references":[],"id":"15812414","analyseSettings":{"id":"149840174"},"targetLangs":["es"],"financialSettings":{"id":"17114192"},"subDomain":null,"sourceLang":"en","businessUnit":null,"purchaseOrder":null,"dateDue":null,"name":"Test
        Project","owner":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"uid":"efXC08onhfTcpiFJYzE1qa","createdBy":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"client":null,"status":"NEW","note":null,"qualityAssuranceSettings":{"id":"17185625"},"costCenter":null,"domain":null,"isPublishedOnJobBoard":false,"shared":false,"userRole":"ADMIN","accessSettings":{"id":"16972823"},"workflowSteps":[],"mtSettingsPerLanguageList":null}],"numberOfElements":1,"totalElements":1,"pageSize":50,"totalPages":1}'
  recorded_at: Fri, 10 Jan 2020 21:37:35 GMT
[...]
- request:
    method: get
    uri: https://cloud.memsource.com/web/api2/v1/projects/15812414?token=9haM0QDEFRquhkpYNqgT4LaGNjhe3JqeIirFMF2BVTikIKVkMzhwQkfBcDOl5f351
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - '096e98d729ea4bbdb4e2ee59ef899eb5'
      Last-Modified:
      - Fri, 10 Jan 2020 21:37:37 GMT
      Content-Type:
    [...]
