---
http_interactions:
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/auth/login
    body:
      encoding: UTF-8
      string: '{"userName":"<TEST_EMAIL>","password":"<TEST_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - b6efbbe317d7462180e8992816f5b8de
      Last-Modified:
      - Fri, 17 Jan 2020 20:28:50 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"token":"CEl18RGVzVVQFs4tvbuLuUGbN23aDIHfFKohtfea8sHNkHtvWXWc6sPDQAXkcV5I0","expires":"2020-01-18T17:33:44+0000"}'
  recorded_at: Fri, 17 Jan 2020 20:28:51 GMT
- request:
    method: get
    uri: https://cloud.memsource.com/web/api2/v1/projects?token=CEl18RGVzVVQFs4tvbuLuUGbN23aDIHfFKohtfea8sHNkHtvWXWc6sPDQAXkcV5I0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - 18610efcf91442c4b14ade1e96b7b484
      Last-Modified:
      - Fri, 17 Jan 2020 20:28:52 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"pageNumber":0,"content":[{"internalId":11,"progress":{"overdueCount":0,"totalCount":1,"finishedCount":0},"dateCreated":"2020-01-17T18:34:55+0000","references":[],"id":"15864420","analyseSettings":{"id":"150010090"},"targetLangs":["es"],"financialSettings":{"id":"17182164"},"subDomain":null,"sourceLang":"en","businessUnit":null,"purchaseOrder":null,"dateDue":null,"name":"Test
        Project","owner":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"uid":"3cSkrKFDp8XtbZ4OjCKy93","createdBy":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"client":{"id":"170309","name":"Layers
        of Lawyers"},"status":"NEW","note":null,"qualityAssuranceSettings":{"id":"17260769"},"costCenter":null,"domain":null,"isPublishedOnJobBoard":false,"shared":false,"userRole":"ADMIN","accessSettings":{"id":"17037385"},"workflowSteps":[],"mtSettingsPerLanguageList":null}],"numberOfElements":1,"totalElements":1,"pageSize":50,"totalPages":1}'
  recorded_at: Fri, 17 Jan 2020 20:28:52 GMT
recorded_with: VCR 5.0.0
