---
http_interactions:
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/auth/login
    body:
      encoding: UTF-8
      string: '{"userName":"<TEST_EMAIL>","password":"<TEST_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - 465e0e0620fc4e15a800f999bc3564c8
      Last-Modified:
      - Fri, 10 Jan 2020 21:21:25 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"token":"KyNoLE9VxloMBui5TmY6yWVKCyo0duGnOB4UpDPRkmGOiM6vLRdW2BKCwPgKWz6x1","expires":"2020-01-10T22:33:30+0000"}'
  recorded_at: Fri, 10 Jan 2020 21:21:26 GMT
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/projects?token=KyNoLE9VxloMBui5TmY6yWVKCyo0duGnOB4UpDPRkmGOiM6vLRdW2BKCwPgKWz6x1
    body:
      encoding: UTF-8
      string: '{"name":null,"sourceLang":"en","targetLangs":["es"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Memsource-Action-Id:
      - f5747804d9ae46aa98aa2cfd398c47e0
      Last-Modified:
      - Fri, 10 Jan 2020 21:21:27 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"InvalidArguments","errorDescription":"The field \"name\"
        cannot be empty."}'
  recorded_at: Fri, 10 Jan 2020 21:21:28 GMT
recorded_with: VCR 5.0.0
