---
http_interactions:
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/auth/login
    body:
      encoding: UTF-8
      string: '{"userName":"<TEST_EMAIL>","password":"<TEST_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Memsource-Action-Id:
      - dea6bc43cf2d44d69989bf3920e488c9
      Last-Modified:
      - Fri, 10 Jan 2020 21:21:14 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user":{"userName":"<TEST_EMAIL>","uid":"2vOxNbojM4ph5h9cQacr16","id":"439114","firstName":"J","lastName":"K","role":"ADMIN","email":"<TEST_EMAIL>"},"token":"KyNoLE9VxloMBui5TmY6yWVKCyo0duGnOB4UpDPRkmGOiM6vLRdW2BKCwPgKWz6x1","expires":"2020-01-10T22:33:30+0000"}'
  recorded_at: Fri, 10 Jan 2020 21:21:16 GMT
- request:
    method: post
    uri: https://cloud.memsource.com/web/api2/v1/projects?token=KyNoLE9VxloMBui5TmY6yWVKCyo0duGnOB4UpDPRkmGOiM6vLRdW2BKCwPgKWz6x1
    body:
      encoding: UTF-8
      string: '{"name":"Test Project","sourceLang":"en","targetLangs":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: ''
    headers:
      Memsource-Action-Id:
      - 6a94a372d398434596737d6dc1354c3f
      Last-Modified:
      - Fri, 10 Jan 2020 21:21:20 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errorCode":"InvalidArguments","errorDescription":"The field \"targetLangs\"
        cannot be empty."}'
  recorded_at: Fri, 10 Jan 2020 21:21:20 GMT
recorded_with: VCR 5.0.0
